---
import Layout from '../layouts/Layout.astro'
import Download from '../icons/download.astro'
---

<Layout title="Extension downloader">
  <main class="w-full h-full grow flex items-center justify-center text-white gap-2 flex-col">
    <input
      type="text"
      placeholder="https://"
      data-link-target
      class="flex items-center justify-between rounded-2xl px-3 backdrop-blur-xs bg-white/10 text-white border-white/10 border-2 hover:scale-[1.02] outline-0 md:w-md"
    />
    <input
      type="text"
      placeholder="Versi eg. 1.4.0"
      data-version-target
      class="w-40 flex items-center justify-between rounded-2xl px-3 backdrop-blur-xs bg-white/10 text-white border-white/10 border-2 hover:scale-[1.02] outline-0"
    />
    <div class="absolute bottom-10 flex items-center justify-center gap-4">
      <span data-output></span>
      <button data-download class="cursor-pointer hidden">
        <Download />
      </button>
    </div>
  </main>
</Layout>

<style>
  input,
  button {
    transition: 0.3s cubic-bezier(0.25, 2.75, 0.5, 1);
  }
</style>

<script>
  const input = document.querySelector('[data-link-target]') as HTMLInputElement
  const output = document.querySelector('[data-output]') as HTMLParagraphElement
  const download = document.querySelector('[data-download]') as HTMLButtonElement

  input.addEventListener('input', () => {
    const packadeAndDev = input.value.replace('https://marketplace.visualstudio.com/items?itemName=', '')
    const packageName = packadeAndDev.split('.')[1]
    const publishers = packadeAndDev.split('.')[0]
    const version = document.querySelector('[data-version-target]') as HTMLInputElement
    output.textContent = packageName ? packageName.toUpperCase() : ''
    packageName ? download.classList.remove('hidden') : download.classList.add('hidden')
    downloadExtension(packageName, publishers, version)
  })

  function downloadExtension(packageName: string, publishers: string, version: HTMLInputElement) {
    download.addEventListener('click', () => {
      if (packageName && publishers && version.value) {
        window.open(
          `https://marketplace.visualstudio.com/_apis/public/gallery/publishers/${publishers}/vsextensions/${packageName}/${version.value}/vspackage`,
        )
      } else {
        alert('error! Periksa kembali tautan dan versi.')
      }
    })
  }
</script>
