---
import Bg from '../assets/bg.svg'
const bg = `url(${Bg.src})`

import '../styles/global.css'
import Nav from "../components/Nav.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Download and manage VS Code extensions easily. Browse, install and update your favorite VS Code extensions all in one place.">
    <meta name="keywords" content="VS Code, Extensions, Download, Install, Update, Manage">
    <meta name="author" content="Brett Deaton">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="yandexbot" content="index, follow">
    <meta name="msnbot" content="index, follow">
    <meta name="applebot" content="index, follow">
    <meta name="snapbot" content="index, follow">
    <meta name="duckduckgo" content="index, follow">
    <meta name="baidu" content="index, follow">
    <meta name="yandex" content="index, follow">
    <meta name="sogou" content="index, follow">
    <meta name="aol" content="index, follow">
    <meta name="ask" content="index, follow">
    <meta name="excite" content="index, follow">
    <meta name="live" content="index, follow">
    <meta name="verbatim" content="index, follow">
    <meta name="iask" content="index, follow">
    <meta name="mojeek" content="index, follow">
    <meta name="pinterest" content="index, follow">
    <meta name="slurp" content="index, follow">
    <meta name="teoma" content="index, follow">
    <meta name="yandex-webmaster" content="index, follow">
    <meta name="yandex-verification" content="index, follow">
    <meta name="yandex-site-verification" content="index, follow">
    <meta name="yandex-verification" content="index, follow">
    <meta name="yandex-verification" content="index, follow">
    <link rel="icon" type="image/svg+xml" href="/fav.svg" />

    <title>{title}</title>
  </head>
  <body class="w-screen min-h-screen flex flex-col">
    <header class="w-full h-16 flex items-center justify-center">
      <Nav />
    </header>
    <slot />
  </body>
</html>

<style define:vars={{ bg }}>
  body {
    background: var(--bg);
    background-color: black;
    box-shadow: inset 0 0 100px rgb(0, 0, 0);
  }
</style>
